---
layout: default
title: blog-landing.title
description: blog-landing.subtitle
---

{% include page_header.html %}

<section class="section blog-search-section pt-4 pb-0">
  <div class="container">
    <div id="blog-search-wrapper" class="blog-search-wrapper">
      <div class="search-input-group">
        <i class="ti-search search-icon"></i>
        <input type="search" id="blog-search-input" class="form-control search-input" placeholder="{% t 'blog-search.placeholder' %}" autocomplete="off" />
        <button id="blog-search-clear" class="search-clear-btn d-none" type="button" aria-label="Clear search">
          <i class="ti-close"></i>
        </button>
      </div>
      <div id="blog-search-overlay" class="search-result-overlay d-none">
        <div id="blog-search-results" class="search-results"></div>
        <div id="blog-search-no-results" class="no-results text-center d-none">{% t 'blog-search.no_results' %}</div>
      </div>
    </div>
  </div>
</section>

<script>
  window.searchConfig = {{ site.search | jsonify }};
</script>

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            {% for post in site.posts %}
            <div class="col-lg-4 col-md-6">
                <a href="{{ site.baseurl }}{{ post.url }}" class="blog-item mb-5 d-block text-decoration-none">
                    <div class="card h-100">
                        <div class="card-body">
							<!-- {% if post.post_image %}
							<img src="{{post.post_image | relative_url}}" alt="{{post.title}}" class="img-fluid w-100" />
							{% endif %} -->
                            <h4 class="mt-4 mb-2">{{ post.title }}</h4>
                            <div class="post-meta text-uppercase mb-3">
                                {% if post.author %}
                                <span class="text-color">{{ post.author }}, </span>
                                {% endif %}
                                <span class="text-color">{{ post.datum }}</span>
                            </div>
                            <p class="text-dark">{{ post.excerpt | strip_html | truncatewords: "20" }} <i class="ti-arrow-right"></i></p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% include pagination.html %}
    </div>
</section>

{% include call_to_action.html %}