.clients {
	padding: 20px 0px 15px 0px;
	
	.container .clients-wrap .text-center {
        height: 150px; /* Setzen Sie die gewünschte einheitliche Höhe */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 24px;
        margin-right: 24px;
    }
    .container .clients-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 0; /* Vertikaler Abstand beibehalten, horizontalen Abstand durch margin steuern */
    }
    .container .clients-wrap .img-fluid {
        max-height: 100%; /* Sorgt dafür, dass das Bild innerhalb des div-Containers bleibt */
        width: auto; /* Behält das Seitenverhältnis des Bildes bei, ohne es zu verzerren */
    }


}