.testimonial-modal,
.portfolio-modal,
.skill-modal {
	background-color: rgba($secondary-color, 0.9);
	padding: 25px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

	h5 {
		color: $primary-color;
		padding-bottom: 20px;
	}
	p {
		color: #FFF;
	}

	.mfp-close {
		color: $primary-color;
	}
}

.testimonial-modal {
	p {
		font-style: italic;
	}
}
