.bg-testimonial{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0px;
}
.h60{
	height: 60%;
}

.testimonial {
	.card {
		border: 0px;
		padding: 2.5rem 2rem 2.5rem 2rem;
		border-bottom: 4px solid $primary-color;
		p{
			font-size: 17px;
			line-height: 30px;
			color: #848484;
		}

		.img-block{
			img{
				border-radius: 100%;
				width: 100px;
				height: 100px;
			}

			i{
				width: 40px;
				height: 40px;
				font-size: 13px;
				border-radius: 100%;
				border: 4px solid $white;
				position: absolute;
				content:"";
				bottom: 0px;
				background: $primary-color;
				color: $white;
				display: inline-block;
				text-align: center;
				line-height: 34px;
				right: 30%;
			}
		}
	}

	.white-popup {
		position: relative;
		background: #FFF;
		padding: 20px;
		width: auto;
		max-width: 600px;
		margin: 20px auto;
	}

	@media(min-width:991px){ 
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba($secondary-color, 0.9);
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0; /* Hide overlay by default */
			transition: opacity 0.3s ease; /* Smooth transition for the overlay */
			z-index: 999;
	
			p {
				color: $primary-color;
			}
		}	

		.card .overlay:hover {
			opacity: 1; 
		}
	}
}

.pattern-bg{
	position: relative;
	&:before{
		position: absolute;
		content:"";
		background: url("../images/about/pattern-short.png") no-repeat;
		width: 100%;
		height: 100%;
		left: 81%;
		bottom: -200px;
		margin-bottom: -120px;
		z-index: -1;
	}
}



// Testimonial-=2


.testimonial-2{
	background: url("../images/bg/bg-8.jpg") no-repeat;
	background-size: cover;

	p{
		font-size: 20px;
		line-height: 32px;
		font-style: italic;
		color: rgba(255,255,255,.9);

	}

	.testimonial-content{
		position: relative;
		padding-left: 50px;
	}

	.test-wrap i{
		position: absolute;
		left: 0px;
		content:"";
		top:0px;
		font-size: 30px;
	}
}


.test-author {
	img{
		width: 80px;
		height: 80px;
		border-radius: 100%;
	}
}

.prev-arrow {
    right: 0px;
}
.next-arrow{
    right: 45px;
}

.slick-arrow {
    position: absolute;
    bottom: 0px;
    z-index: 9;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 0;
    color: $white;
    background: transparent;
    line-height: 70px;
    font-size: 35px;
    outline: 0;
    -webkit-transition: all .35s ease;
       -moz-transition: all .35s ease;
        -ms-transition: all .35s ease;
         -o-transition: all .35s ease;
            transition: all .35s ease;
            cursor: pointer;

    &:focus{
    	 outline: 0;
    }

    &:hover{
    	color: $primary-color;
    }
}

.testimonial-modal .modal-content {
    padding: 50px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.testimonial-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

@media(max-width:768px) { 
    .testimonial-modal .modal-content h2 {
        margin-bottom: 15px;
        font-size: 1.5em;
    }
}

.testimonial-modal .modal-content p {
    margin-bottom: 30px;
}

.testimonial-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-size: 16px;
    font-style: normal;
}

.testimonial-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.testimonial-modal .modal-content img {
    margin-bottom: 30px;
}

.testimonial-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 8px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.testimonial-modal .close-modal:hover {
    opacity: .3;
}

.testimonial-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 25px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.testimonial-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 25px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}