<!-- Contact Start -->
{% assign contact = site.data.homepage.contact %}
{% if contact.enable %}

<section class="section home-contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<span class="h5 text-color text-uppercase">
					{{ contact.title }}
				</span>
				<p class="h2 mb-5 mt-2">{{ contact.subtitle }}</p>
				<p>{{ contact.intro }}</p>

				<form action="{{site.contact_form_action}}" method="POST" class="home-contact-form">
					<div class="form-row">
						<div class="col-lg-12">
							<div class="form-group">
								<input type="text" class="form-control" name="Name" id="name" placeholder="{{ contact.form.name }}">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-lg-6">
							<div class="form-group">
								<input type="text" class="form-control" name="_replyto" id="email" placeholder="{{ contact.form.email }}">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<input type="text" class="form-control" name="Telpehone" id="telephone" placeholder="{{ contact.form.phone }}">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<textarea name="Message" id="message" cols="30" rows="4" class="form-control mb-4" placeholder="{{ contact.form.message }}"></textarea>
							<p class="text-sm">{{ contact.privacy-note }}</a></p>
							<button type="submit" class="btn btn-primary">{{ contact.button }}</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endif %}
<!-- Contact End -->