<!-- Contact Start -->
{% assign contact-config = site.data.homepage.contact %}
{% assign contact = site.translations[site.lang].contact %}

{% if contact-config.enable %} 

<section id="contact" class="section home-contact bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="h5 text-color text-uppercase">
					{% if contact_spec.title %} {{ contact_spec.title }} {% else %} {{ contact.title }} {% endif %}
				</span>
				<p class="h2 mb-5 mt-2">{% if contact_spec.subtitle %} {{ contact_spec.subtitle }} {% else %} {{ contact.subtitle }} {% endif %}</p>
				<p class="h5 mb-5 mt-2">{% if contact_spec.intro %} {{ contact_spec.intro }} {% else %} {{ contact.intro }} {% endif %}</p>

				<form action="{{site.contact_form_action}}" method="POST" class="home-contact-form">
					<div class="form-row">
						<div class="col-lg-12">
							<div class="form-group">
								<input type="text" class="form-control" name="Name" id="name" placeholder="{{ contact.form.name }}">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-lg-6">
							<div class="form-group">
								<input type="text" class="form-control" name="_replyto" id="email" placeholder="{{ contact.form.email }}">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<input type="text" class="form-control" name="Telephone" id="telephone" placeholder="{{ contact.form.phone }}">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-lg-12">
							<div class="form-group">
								<input type="text" class="form-control" name="Subject" id="subject" placeholder="{{ contact.form.subject }}">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<textarea name="Message" id="message" cols="30" rows="4" class="form-control mb-4" placeholder="{{ contact.form.message }}"></textarea>
							<p class="text-sm">{{ contact.privacy-note }}</p>
							<button type="submit" class="btn btn-primary">{{ contact.button }}</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{% endif %}
<!-- Contact End -->