<!-- Slider Start -->
{% assign banner = site.data.homepage.hero_area %}
<section class="banner position-relative">
	<div class="container">
		<div class="row">
			<div class="banner-content">
				<h2 class="text-white">{% t hero_area.title %}</h2>
				<p class="text-white mt-4 mb-5">{% t hero_area.subheadline %}</p>
				{% t hero_area.content %}
				{% if banner.secondaryButton.enable %}
				<a href="{{banner.secondaryButton.link}}" class="btn btn-secondary">{% t hero_area.secondaryButton-label %}</a>
				{% endif %}
				{% if banner.primaryButton.enable %}
				<p><a href="{{ site.baseurl }}{{banner.primaryButton.link}}" class="btn btn-primary">{% t hero_area.primaryButton-label %}</a></p>
				{% endif %}
			</div>
		
			<!--<div class="banner-img d-none d-lg-block">
				<img src="{{ banner.image }}" alt="contact" class="img-fluid">
			</div>-->
		</div>
	</div>
</section>
<!-- Slider End -->