 <!-- testimonial Modals -->
 {% for testimonial in site.testimonials %}
 <div class="testimonial-modal mfp-hide" id="testimonialModal{{ testimonial.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <h5 class="modal-title" id="myModalLabel">{{ testimonial.name }}</h5>
    <p>"{{ testimonial.feedback_full }}"</p>
    <!-- <p>{{ testimonial.topics }}</p>
    <p>{{ testimonial.top-skills }}</p> -->
  </div>
{% endfor %}


<!-- skill Modals -->
{% assign skill-config = site.data.homepage.skill %}
{% assign skills = site.translations[site.lang].skill %}
{% if skill-config.enable %}
{% for item in skill.skills-left %}
<div class="skill-modal mfp-hide" id="skillModal{{ item.modal_id }}" tabindex="-1" role="dialog" aria-hidden="true">
   <h5 class="modal-title" id="myModalLabel">{{ item.name }}</h5>
   <p>{{ item.description }}</p>
 </div>
{% endfor %}

{% for item in skill.skills-right %}
<div class="skill-modal mfp-hide" id="skillModal{{ item.modal_id }}" tabindex="-1" role="dialog" aria-hidden="true">
   <h5 class="modal-title" id="myModalLabel">{{ item.name }}</h5>
   <p>{{ item.description }}</p>
 </div>
{% endfor %}

{% endif %}
