<!-- PortfoliO Start -->
{% assign portfolios = site.data.homepage.portfolios %}
{% assign items = site.translations[site.lang].portfolios %}
{% if portfolios.enable %}

<section class="section portfolio bg-white">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10 text-center">
				<span class="h5 text-color text-uppercase">
					{{ items.title }}
				</span>
				<h3 class="mb-5 mt-2">{{ items.subtitle }}</h3>
			</div>
		</div>
		<div class="row portfolio-gallery">
			{% include portfolio_loop.html %}
		</div>
	</div>
</section>
{% endif %}
<!-- Portfolio End -->