{% assign items = site.translations[site.lang].portfolios %}
{% for item in items.item %}
<div class="col-lg-4 col-6 mb-4 shuffle-item">
  <div class="position-relative inner-box">
    <div class="image position-relative d-flex align-items-center justify-content-center text-white" style="background-color: {{ item.color }}; height: 250px;">    
      <h5 class="portfolio-title mb-0">{{ item.name }}</h5>
      
      <div class="overlay-box">
        <div class="overlay-inner">
            <p class="overlay-content text-center">{{ item.description }}</p>
            <a href="#{{ forloop.index }}" data-mfp-src="#portfolioModal{{ forloop.index }}" class="more-info-link more-link text-white">
              {% t readmore %}
            </a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endfor %}