<!-- Service Start -->
{% assign service-config = site.data.homepage.services %}
{% assign services = site.translations[site.lang].services %}

{% if service-config.enable %}
<section class="section-sm service bg-secondary border-top">
	<div class="container">
		<div class="row justify-content-center">
			{% for service in services.item %}
			<div class="service-item-container col-lg-4 col-md-6 {% unless forloop.last %}border-right{% endunless %}">
				<div class="service-item mb-4 mb-lg-0 text-center px-4">
					<i class="{{ service.icon }} text-color icon-md"></i>
					<h4 class="my-4 text-white">{{ service.name }}</h4>
					<p>{{ service.content }}</p>
					{% if service.btn-label %}
          				<a class="more-link text-color" href="{{ site.baseurl }}{{ service.btn-url | relative_url }}"> {{ service.btn-label }} </a>
       				{% endif %}	
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
<!-- Service End -->