<!-- Slill Start -->
{% assign skill-config = site.data.homepage.skill %}
{% assign skill = site.translations[site.lang].skill %}
{% if skill-config.enable %}
<section class="section skill bg-white">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<span class="h5 text-color text-uppercase">
					{{ skill.subtitle }}
				</span>
				<h3 class="mb-5 mt-2">{{ skill.title }}</h3>
			</div>
		</div>
		<div class="row g-0">
			<div class="col-12 col-md-6">
				{% for item in skill.skills-left %}
				<div class="progress-block">
					<a href="#{{ item.modal_id }}" data-mfp-src="#skillModal{{ item.modal_id }}" class="more-info-link text-color">
						<h6 class="text-uppercase">
							{{ item.name }} <i class="ti-arrow-right"></i>
						</h6>
					</a>
				</div>
				{% endfor %}
			</div>
			<div class="col-12 col-md-6">
				{% for item in skill.skills-right %}
				<div class="progress-block">
					<a href="#{{ item.modal_id }}" data-mfp-src="#skillModal{{ item.modal_id }}" class="more-info-link text-color">
						<h6 class="text-uppercase">
							{{ item.name }} <i class="ti-arrow-right"></i>
						</h6>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<!-- Skill End -->
{% endif %}