<!-- Testimonial Start -->
{% assign testimonial-config = site.data.homepage.testimonial %}
{% assign testimonials = site.translations[site.lang].testimonial %}

{% if testimonial-config.enable %}
<section class="section testimonial position-relative bg-white">
	<img src="{{ testimonial-config.bg_image }}" alt="" class="overlay-shape">
	<div class="h60 bg-testimonial"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<span class="h5 text-color text-uppercase">
					{{ testimonials.subtitle }}
				</span>
				<h3 class="mb-5 mt-2">{{ testimonials.title }}</h3>
			</div>
		</div>

		<div class="row testimonial-slider">
			{% for testimonial in site.testimonials %}
			<div class="col-lg-12">
				<div class="card text-center rounded-0 shadow mb-6">
					<a data-target="#testimonialModal{{ testimonial.modal-id }}" class="text-color" data-toggle="modal">
						<div class="img-block position-relative mb-6">
							<img src="{{ testimonial.img }}" alt="" class="img-fluid">
							<i class="ti-quote-right"></i>
						</div>
						<div class="overlay">
							<p class="text-color">{% t readmore %}</p>
						</div>
						<p>{{ testimonial.feedback_preview }}</p>
						<h5 class="mb-0 mt-2">{{ testimonial.name }}</h5>
						<span class="text-color"> <a class="text-color" href={{ testimonial.link }} target="_blank"> {{ testimonial.subtitle }}</a> </span>	
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<!-- Testimonial End -->
{% endif %}