<!-- Testimonial Start -->
{% assign testimonial = site.data.homepage.testimonial %}
{% if testimonial.enable %}
<section class="section testimonial position-relative bg-white">
	<div class="h60 bg-testimonial"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<span class="h5 text-color text-uppercase">
					{% t testimonial.subtitle %}
				</span>
				<h3 class="mb-5 mt-2">{% t testimonial.title %}</h3>
			</div>
		</div>

		<div class="row testimonial-slider">
			{% for item in testimonial.item %}
			<div class="col-lg-12">
				<div class="card text-center rounded-0 shadow mb-6">
					<div class="img-block position-relative mb-6">
						<img src="{{ item.image }}" alt="" class="img-fluid">
						<i class="ti-quote-right"></i>
					</div>
					<p>{% t item.content %}</p>
					<h5 class="mb-0 mt-2">{{ item.name }}</h5>
					<span class="text-color"> <a class="text-color" href={{ item.link }} target="_blank"> {% t item.designation %}</a> </span>
				</div>
				<!--</a>-->
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- Testimonial End -->
{% endif %}