<!-- Testimonial Start -->
{% assign testimonials = site.translations[site.lang].testimonial %}
<section class="section testimonial position-relative bg-white">
	<div class="h60 bg-testimonial"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<span class="h5 text-color text-uppercase">
					{{ testimonials.subtitle }}
				</span>
				<h3 class="mb-5 mt-2">{{ testimonials.title }}</h3>
			</div>
		</div>

		<div class="row testimonial-slider">
			{% for testimonial in site.testimonials %}
			<div class="col-lg-12">
				<div class="card text-center rounded-0 shadow mb-6">
					<a href="#{{ testimonial.modal-id }}" data-mfp-src="#testimonialModal{{ testimonial.modal-id }}" class="more-info-link text-color">
						<div class="img-block position-relative mb-6">
							<img src="{{ testimonial.img }}" alt="" class="img-fluid">
							<i class="ti-quote-right"></i>
						</div>
						<div class="overlay">
							<p class="text-color">{% t readmore %}</p>
						</div>
						<p>{{ testimonial.feedback_preview }} …</p>
						<h5 class="mb-0 mt-2">{{ testimonial.name }}</h5>
						<span class="text-color"> <a class="text-color" href={{ testimonial.link }} target="_blank"> {{ testimonial.subtitle }}</a> </span>	
						<!-- <span class="text-color"> {{ testimonial.categorie }}</span>	 -->
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<!-- Testimonial End -->
