.bg-primary {
	background: $primary-color !important;
}

.bg-secondary {
	background: $secondary-color !important;
}

.bg-extra {
	background: $extra-color;
}

.bg-blue{
	background: $blue !important;
}

.bg-white {
	background: white !important;
}

.text-color {
	color: $primary-color;
}

.text-black {
	color: $black;
}

.section {
	padding: 80px 0px;
	  
	@media (min-width: 768px) {
		padding: 100px 0px;
	 }
	  
	@media (min-width: 992px) {
		padding: 110px 0px;
	 }
	  
	@media (min-width: 1200px) {
		padding: 120px 0px;
	}
}

.section-sm {
	padding: 80px 0px 65px 0px;
}

.content.text-white *{
	color: $white;
}

.text-blue {
	color: $blue;
}

.text-green {
	color: $green;
}

.text-orange {
	color: $orange;
}

a {
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
}

a:hover {
	color: $primary-color !important;
}

a:hover,
a:focus {
	outline: 0;
	text-decoration: none;
}

.text-yello {
	color: $yello;
}

.text-sm-2 {
	font-size: 18px;
}

.overflow-hidden {
	overflow: hidden !important;
}

.text-italic {
	font-style: italic;
}

.text-small {
	font-size: smaller;
}

.slick-slide {
	outline: 0;

	img {
		display: inline-block;
	}
}

.more-link {
	margin: 1em auto;
	
	&:hover,
  	&:active,
  	&.focus,
 	&.active {
    color: $blue !important;
  }
}

.more-link::after {
	font-family: 'themify';
  	content: "\e649"; /* Unicode für ti-arrow-right */
  	display: inline-block;
  	margin-left: 0.1em;
  	font-size: 0.9em;
 	vertical-align: middle;
}