// Color Variables
$white: #fff;
$black: #000;
$blue: #007BFF;
$green: #28A745;
$orange: #f08826;
$primary-color:#61BB95;
$secondary-color:#251D39;
$primary-color-dark:#4E9677;
$secondary-color-dark:#1E172E;
$extra-color:#934ae4;
$extra-color-dark:#763BB6;
$border-color: #e5e5e5;
$black-light:#535353;
$yello:#ffc429;
$heading-font:'Raleway', sans-serif;
$body-font:'Open Sans', sans-serif;