<!-- Slider Start -->
{% assign cto_hero = site.translations[site.lang].cto_hero %}
<section class="banner-cto position-relative">
		<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-7 col-md-7">
				<div class="banner-cto-content">
          <span class="h5 text-color text-uppercase">{{ cto_hero.title2 }}</span>
					<h2 class="text-white mt-2">{{ cto_hero.title }}</h2>
          <p class="text-white mt-4 mb-5">{{ cto_hero.subheadline }}</p>
		<p class="my-4">{{ cto_hero.content }}</p>
			
          <p><a href="{{ cto_hero.primaryButton-url }}" class="btn btn-primary">{{ cto_hero.primaryButton-label }}</a></p>  
        	</div>
			</div>

			<div class="col-lg-5 col-md-5 align-self-end">
				<img src="{{ cto_hero.image | relative_url }}" alt="" class="img-fluid position-absolute-">
			</div>
		</div>
	</div>
</section>
<!-- Slider End -->