<!-- Testimonial Start -->
{% assign testimonials = site.translations[site.lang].cto_testimonials %}
<section class="section testimonial position-relative bg-white">
  <div class="h60 bg-testimonial"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <span class="h5 text-color text-uppercase">
          {{ testimonials.title }}
        </span>
        <h3 class="mb-5 mt-2">{{ testimonials.subtitle }}</h3>
      </div>
    </div>

    <div class="row testimonial-wrap">
		{% for item in testimonials.item %}
			<div class="col-lg-12 ">
			<div class="test-wrap ">
				<i class="text-color ti-quote-left"></i>
				<div class="testimonial-content">
					<p class="text"> {{ item.text }} </p>
					<div class="test-author d-flex mt-4">
						<div>
							<img src="{{ item.image }}" alt="" class="img-fluid mr-3">
						</div>
						<div>
							<h5 class="mb-0 mt-2 text-color">{{ item.author }}</h5>
							<span class="text-secondary"> {{ item.role }} </span>
						</div>
					</div>
					</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
  </div>
</section>
<!-- Testimonial End -->